* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body { 
    margin:0;
    padding:0;
    background: url(img1.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  header {
    background: linear-gradient(to right,rgb(14, 12, 13),white);
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
  .menu {
    width: 800px;;
    margin: 0 auto;
  }
  
  img {
    width: 120px;
    height: 60px;
    float: left;
    padding: 8px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #130f0f;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #b30606ce;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  .container{
    float:right;
    display: flex;
    width: -500px;
    height: 100%;
  }
  .btn{
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    background:transparent;
    color: black;
    font-size: 16px;
    border-radius: 20px;  
    text-align: center;
    align-items: center;
  }
  .container2{
    background: black;
    width: 40%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    color:red;
}
.title{
    text-align: center;
    font-size: 40px;
    color: #161313;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.container1{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
.container1 .card{
    background: white;
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container1 .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container1 .card img{
    width: 330px;
    height: 220px;
}


.container1 .card h4{
    font-weight: 600;
}

.container1 .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container1 .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}