body{
    margin: 0;
    background: gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.conatainer{
    display: flex;
    float: center;
    border-style: solid;
    position:center;
}
.footer{

    display: flex;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100% !important;
    height: 350px !important;
    margin-top: auto;
}
