*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: sans-serif;
    text-transform: capitalize;
}
.container{
    max-width: 1200px;
    height: 300px;
    margin: auto;
}
.footer{
    background-color: black;
    padding: 20px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-link{
    width: 25%;
    padding: 0 15px;
}
.footer-link h4{
    font-size: 20px;
    color: rgb(160, 12, 12);
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-link ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(155, 16, 16);
    display: block;
    margin-bottom: 15px;
    transform: all.3s ease;
}
.footer-link ul li a:hover{
    color: white;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height:40px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(16, 114, 68);
    transition: all 5s ease;
}
.social-link a:hover{
background-color: aqua;
}
@media(max-width:991px){
    .footer-link{
        text-align: center;
    }
    .footer-link{
        width: 100%;
        margin-bottom: 30px;
    }
}
.text0{
    color:white
}